:root {
  --theme-color: hsl(153deg 47% 49%);
  --theme-hue: 153deg;
  --theme-saturation: 47%;
  --theme-luminosity: 49%;
  --error-color: hsl(354deg 70% 54%);
  --error-hue: 354deg;
  --error-saturation: 70%;
  --error-luminosity: 54%;
  --shadow-dialog: 0 5px 15px 0 rgb(0 0 0 / 20%);
  --shadow-separate: 0 0 4px 0 rgb(0 0 0 / 30%);
  --shadow-layer: 0 0 6px 0 rgb(0 0 0 / 50%);
}
